{% extends 'base.html.twig' %}

{% block title %}Hello HomePageController!{% endblock %}


{% block body %}
    {% block stylesheets %}
        <link href={{asset("css/homePage.css")}} rel="stylesheet">
    {% endblock %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    <body id="section1" class="bc-index">
    {% include 'components/layout/navbar_vertical.html.twig' %}
    <div class="wrap">

    </div>
</div>
{% endblock %}
