{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <span id="meal-plan-title"> <h1> Make an appointment with a doctor</h1></span>
        {{ form_start(form) }}

        {{ form_end(form) }}
    </div>
{% endblock %}

